@using QuanLyKhoViewModels.Common
@model PagedResult<QuanLyKhoViewModels.System.Debt.DebtVm>

@{
    ViewData["Title"] = "Danh sách công nợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Script{
    <script>
setTimeout(function() {
    $('#msgAlert').fadeOut('slow');
}, 2000);
      
    </script>
}
@section test{
    <script>
        function pay(GuestID)
        {
           $('#exampleModal').modal('show');
             document.querySelector('#exampleFormControlInput1').value = GuestID
        }
function getvalue(GuestID) {
    $('#exampleModal').modal('hide');
    let paymount = document.querySelector('.dollar').value
            let bankname = document.querySelector('#cars').value
            if (paymount != null && bankname != null) {
                $.ajax({
                    type: 'POST',
                    url: '/debt/Pay',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {"GuestID":GuestID, "fee": paymount, "bankname": bankname},
                    success: function (result) {
                        window.location.href = result.redirectToUrl;
            },
            error: function (result) {
                window.location.href = result.redirectToUrl;
            }
                });
            }
}
    </script>
}
@section checks{
     <script type="text/javascript">  
        $(document).ready(function () {  
            $('#DataTable').DataTable();  
            $('#checkBoxAll').click(function () {  
                if ($(this).is(":checked")) {  
                    $(".chkCheckBoxId").prop("checked", true)  
                }  
                else {  
                    $(".chkCheckBoxId").prop("checked", false)  
                }  
            });  
        });  
    </script> 


    <script>
    $(".ajaxSelect2").select2({
    placeholder: "Nhập mã khách hàng",
    theme: "bootstrap4",
    allowClear: true,
    ajax: {
        type: "GET",
        url: "/Product/Search/",
        contentType: "application/json; charset=utf-8",
        data: function (params) {
            var query =
            {
                term: params.term,
            };
            return query;
        },
        processResults: function (result) {
            return {
                results: $.map(result, function (item) {
                    return {
                        id: item.id,
                        text: item.id
                    };
                }),
            };
        }
    }
});
    </script>
}
<style>
    .dataTables_length{
        display:none;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nhập thông tin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body">
      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Mã khách hàng</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" readonly>
</div>
        <div class="input-group mb-3">
        <span class="input-group-text">vnđ</span>
        <span class="input-group-text">0.00</span>
        <input required data-type="currency" type="text" class="input--style-1 dollar form-control" aria-label="Dollar amount (with dot and two decimal places)">
        </div>
      
       <select required class="form-select" aria-label="Default select example" name="cars" id="cars">
                    <option value="VietcomBank">VietcomBank</option>
                    <option value="TPBank">TP Bank</option>
                    <option value="VPBank" selected>VP Bank</option>
                </select>                          
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="getvalue(exampleFormControlInput1.value)">Lưu</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div>  


<div class="container-fluid">
    <h1 class="mt-4">Danh sách công nợ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách công nợ</li>
    </ol>
    <div class="card mb-12">

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
                 @if (ViewBag.Err != null)
                {
                    <div id="msgAlert" class="alert alert-danger" role="alert">
                        @ViewBag.Err
                    </div>
                }
            </div>
            @using (Html.BeginForm("DeleteAll", "Debt", FormMethod.Post))  
            {  
                    <button type="submit" value="delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Bạn chắc chắn muốn xóa?')"><i class="fa fa-trash-o"></i> Xóa</button> 
            <div class="table-responsive" >
                <table id="DataTable" class="table table-bordered" >
                    <thead>
                        <tr>
                         <th style="padding:8px 30px 8px 8px"><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>  
                           <th>Mã khách hàng</th>
                           <th>Họ tên khách hàng</th>
                           <th>Tổng số tiền nợ</th>
                            <th>Chức năng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                 <td style="padding:8px 30px 8px 8px"><input  type="checkbox" name="ID" value="@item.GuestID" class="custom-checkbox chkCheckBoxId" /></td>  
                                <td>
                                    @Html.DisplayFor(modelItem => item.GuestID)
                                </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.GuestFName) @Html.DisplayFor(modelItem => item.GuestLName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalDebt)
                                </td>
                                <td>
                                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.GuestID }, new {@class = "btn bg-info text-decoration-none text-white"})
                                </td>
                                <td>
                                    <a class="btn bg-danger text-decoration-none text-white" onclick="pay('@item.GuestID')">Thanh toán</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
              
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>