@using QuanLyKhoViewModels.Common
@using System.Globalization;
@model PagedResult<QuanLyKhoViewModels.Catalog.Products.ProductViewDetalModel>
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hóa đơn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
<div class="page-content container">
    <div class="page-header text-blue-d2">
        <h1 class="page-title text-secondary-d1">
            Hóa đơn
            <small class="page-info">
                <i class="fa fa-angle-double-right text-80"></i>
                Mã: @ViewBag.IDBILL
                @ViewBag.Vehicle_tr
            </small>
        </h1>
         <small class="page-info page-title text-secondary-d1">
                <img class="img-fluid rounded float-left" src="/images/d876f2461797d5c98c86.jpg"/>
         </small>
    </div>
    <div class="container px-0">
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center text-150">
                            <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                            <span class="text-default-d3">HÓA ĐƠN BÁN HÀNG</span>
                        </div>
                    </div>
                </div>
                <hr class="row brc-default-l1 mx-n1 mb-4" />
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <span class="text-sm text-grey-m2 align-middle">Khách hàng:</span>
                            @foreach (var item in @Model.Items)
                                {
                                     <span class="text-600 text-110 text-blue align-middle">@(String.Format("{0} {1}",item.FirtName,item.LastName))</span>
                                    break;
                                }
                        </div>
                        <div class="text-grey-m2">
                            @foreach (var item in @Model.Items)
                            {
                                <p class="d-none">@{string s = String.Format("{0:###-###-####}", @item.PhoneNumber);}</p>
                                <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i><b class="text-600">@s</b></div>
                                    break;
                            }
                        </div>
                    </div>

                    <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                        <hr class="d-sm-none" />
                        <div class="text-grey-m2">
                            <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                Hóa đơn
                            </div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Mã hóa đơn:</span> @ViewBag.IDBILL</div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Ngày tạo: </span>@DateTime.Now</div>

                           @{ if (!ViewBag.Issucess)
                                    {
                                               <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Trạng thái: </span> <span class="badge badge-warning badge-pill px-25 " style="background-color:#07ff7a">Đã TT</span></div>
                                        
                                    }
                                    else
                                    {
                                               <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Trạng thái: </span> <span class="badge badge-warning badge-pill px-25 " style="background-color:#ffc107">Trả sau</span></div>
                                        
                                    }
                           }
                               
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                <div class="mt-4">
                     <div class="d-none d-sm-block col-9 py-25">1. Nội Dung Hóa đơn</div>
                    <div class="row text-800 text-black py-0 d-flex align-items-center">
                         <div class="border-right border-left border-top border-dark d-none d-sm-block text-center py-25 col-sm-1">STT</div>
                        <div class="border-right border-top border-dark col-sm-2 text-center py-25">Tên hàng</div>
                        <div class="border-right border-top border-dark col-2 text-center py-25">Quy Cách</div>
                        <div class="border-right border-top border-dark col-2 text-center py-25">Trọng lượng</div>
                        <div class="border-right border-top border-dark d-none d-sm-block col-1 text-center py-25">SL</div>
                        <div class="border-right border-top border-dark d-none d-sm-block col-2 text-center py-25">Giá bán</div>
                        <div class="border-right border-top border-dark col-2 text-center py-25">Giá tiền</div>
                    </div>
                    @{string tongtien = null,tongno = null,ss = null;
                        decimal totaltien = default;
                    }
                    <div class="text-95 text-secondary-d3">
                            @{
                                int i = 1; decimal sumtol = 0; int quan = 0;
                            }
                       @foreach (var item in @Model.Items)
                       {
                            <p class="d-none" >@(quan+=Convert.ToInt32(item.Quantity))</p>                          
                            <p class="d-none" >@(sumtol += (Convert.ToDecimal(item.SalesPrice) * Convert.ToDecimal(@item.Quantity)))</p>
                            <div class="row mb-2 mb-sm-0 py-0">
                            <div class="border-top border-left border-right border-dark d-none d-sm-block text-center col-sm-1">@(i++)</div>
                            <div class="border-top border-right border-dark col-sm-2 text-center">@item.Name</div>
                            <div class="border-top border-right border-dark col-2 text-center">@item.ToTalSum</div>
                            @{
                                CultureInfo culs = CultureInfo.GetCultureInfo("vi-VN");
                                string we = item.weight.ToString("#,###", culs.NumberFormat);
                            }
                            <div class="border-top border-right border-dark col-2 text-center">@we Kg</div>
                            <div class="border-top border-right border-dark d-none d-sm-block col-1 text-center">@item.Quantity</div>
                                    @{
                                        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                                        string a = item.SalesPrice.ToString("#,###", cul.NumberFormat);
                                        decimal sums = (Convert.ToDecimal(item.SalesPrice) * Convert.ToDecimal(@item.Quantity));
                                        string b = sums.ToString("#,###", cul.NumberFormat);
                                        tongtien = sumtol.ToString("#,###", cul.NumberFormat);
                                        tongno = ViewBag.TotalDebt.ToString("#,###", cul.NumberFormat);
                                        totaltien = sumtol + ViewBag.TotalDebt;
                                        ss = totaltien.ToString("#,###", cul.NumberFormat);
                                    }
                            <div class="border-top border-right border-dark d-none d-sm-block col-2 text-95 text-center">@(a) Vnđ</div>
                            <div class="border-top border-right border-dark col-2 text-secondary-d2 text-center">@(b) Vnđ</div>
                        </div>
                       }
                    </div>
                    <div class="row mb-2 mb-sm-0 py-0 border-top border-dark">
                       <table class="table table-info" style="border-style:hidden">
                            <tbody>
                              <tr>
                                <td style="width: 64%" class="text-right" colspan="3">Tổng số lượng: @quan</td>
                                <td  class="text-right" colspan="2">Tổng tiền: @(tongtien) Vnđ</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                     <div class="d-none d-sm-block col-5 py-25">2. Công nợ</div>
                    <div class="row text-600 text-black py-0 d-flex align-items-center">
                        <div class="border-right border-left border-top border-dark d-none d-sm-block col-1 text-center py-25">Mã SP</div>
                        <div class="border-right border-top border-dark col-9 col-sm-5 text-center py-25">Ngày</div>
                        <div class="border-right border-top border-dark d-none d-sm-block col-4 col-sm-2 text-center py-25">Xe</div>
                         <div class="border-right border-top border-dark d-none d-sm-block col-sm-2 text-center py-25">Tên Hàng</div>
                        <div class="border-right border-top border-dark col-2 text-center py-25">Số tiền nợ</div>
                    </div>
                    <div class="text-95 text-secondary-d3">
                       @foreach (var item in @Model.Items)
                       {
                        <div class="row mb-2 mb-sm-0 py-0">
                            <div class="border-left border-bottom border-top border-right border-dark d-none d-sm-block col-1 text-center">@item.importID</div>
                            <div class="border-top border-bottom border-right border-dark col-9 col-sm-5 text-center">@DateTime.Now</div>
                            <div class="border-top border-bottom border-right border-dark d-none d-sm-block col-2 text-center">@TempData["views"]</div>
                            <div class="border-top border-bottom border-right border-dark d-none d-sm-block col-2 text-95 text-center">@item.Name</div>
                                    <div class="border-top border-bottom border-right border-dark col-2 text-secondary-d2 text-center">@{ string ttdeb = null;
                                            CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                                            ttdeb= item.debttotal > 0? item.debttotal.ToString("#,###", cul.NumberFormat): "0";
                                        }@ttdeb Vnđ</div>
                                </div>
                                //break;
                            }
                    </div>
                    <div class="row mb-2 mb-sm-0 py-0">
                       <table class="table table-info" style="border-style:hidden">
                            <tbody>
                              <tr>
                                <td  class="col-7 text-right" colspan="2">Tổng tiền nợ: @(tongno) Vnđ</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-none d-sm-block col-5 py-25">3. Xác nhận</div>
                   
                     <div class="row mb-2 mb-sm-0 py-0">
                       <table class="table table-bordered table-striped">
                       <thead>
                       <tr>
                       <th></th>
                       <th style="text-align:center; vertical-align:middle; padding-top:120px">Nhà xe nhận hàng</th>
                       <th></th>
                       <th></th>
                       <th style="text-align:center; vertical-align:middle; padding-top:120px">Người lập phiếu</th>
                       <th></th>
                       <th class="borer-right" style=" text-align:center; vertical-align:middle; padding-top:120px">Khách hàng</th>
                       </tr>
                            
                       </thead>
                            <tbody>
                              <tr>
                               <td></td>
                               <td style="text-align:center; vertical-align:middle; padding-top:120px">Nhà xe</td>
                               <td></td>
                               <td></td>
                               <td style="text-align:center; vertical-align:middle; padding-top:120px">
                                @foreach (var item in @Model.Items)
                                {
                                     @item.EmL
                                    break;
                                }
                               </td>
                               <td></td>
                               <td class="borer-right" style="text-align:center; vertical-align:middle; padding-top:120px">
                               @foreach (var item in @Model.Items)
                                {
                                     @item.LastName
                                    break;
                                }
                               </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row border-b-2 brc-default-l2"></div>
                      <div class="row mt-3">
                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                            <p class="orm-control-color">Địa chỉ: 1053 Quốc Lộ 1A, Phường Tân Khánh, TP Tân An, Long An</p>
                        </div>

                        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                            <div class="row my-2">
                                <div class="col-7 text-right">
                                   
                                </div>
                                <div class="col-5">
                                    <span class="text-120 text-secondary-d1"></span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-7 text-right">
                                   
                                </div>
                                <div class="col-5">
                                    
                                </div>
                            </div>

                            <div class="row my-2 align-items-center bgc-primary-l3 p-2">
                                <div class="col-5 text-right">
                                    Tổng tiền
                                </div>
                                <div class="col-7">
                                    <span class="text-150 text-success-d3 opacity-2">@(ss) Vnđ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="d-flex justify-content-center">
                        <span class="text-secondary-d1 text-105 text-center">Cám ơn bạn đã mua hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
body{
    margin-top:20px;
    color: #484b51;
}
.text-secondary-d1 {
    color: #728299!important;
}
.page-header {
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-bottom: 1px dotted #e2e2e2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.page-title {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}
.brc-default-l1 {
    border-color: #dce9f0!important;
}

.ml-n1, .mx-n1 {
    margin-left: -.25rem!important;
}
.mr-n1, .mx-n1 {
    margin-right: -.25rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.text-grey-m2 {
    color: #888a8d!important;
}

.text-success-m2 {
    color: #86bd68!important;
}

.font-bolder, .text-600 {
    font-weight: 600!important;
}

.text-110 {
    font-size: 110%!important;
}
.text-blue {
    color: #478fcc!important;
}
.pb-25, .py-25 {
    padding-bottom: .75rem!important;
}

.pt-25, .py-25 {
    padding-top: .75rem!important;
}
.bgc-default-tp1 {
    background-color: rgba(121,169,197,.92)!important;
}
.bgc-default-l4, .bgc-h-default-l4:hover {
    background-color: #f3f8fa!important;
}
.page-header .page-tools {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.btn-light {
    color: #757984;
    background-color: #f5f6f9;
    border-color: #dddfe4;
}
.w-2 {
    width: 1rem;
}

.text-120 {
    font-size: 120%!important;
}
.text-primary-m1 {
    color: #4087d4!important;
}

.text-danger-m1 {
    color: #dd4949!important;
}
.text-blue-m2 {
    color: #68a3d5!important;
}
.text-150 {
    font-size: 150%!important;
}
.text-60 {
    font-size: 60%!important;
}
.text-grey-m1 {
    color: #7b7d81!important;
}
.align-bottom {
    vertical-align: bottom!important;
}
</style>

</body>
</html>