@using System.Globalization
@using QuanLyKhoViewModels.Common
@model PagedResult<QuanLyKhoViewModels.System.Debt.DebtVm>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid px-4">
                        <h1 class="mt-4">Bảng điều khiển</h1>
                         @{
                                        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                                        var loinhuan = ViewBag.TotalFee.ToString("#,###", cul.NumberFormat);
                                        var tongno = ViewBag.TotalDebt.ToString("#,###", cul.NumberFormat);
                                    }
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Số lượng hàng hóa bán được</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">@ViewBag.Debt</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Tổng lợi nhuận</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#"></a>
                                        <div class="small text-white">@loinhuan Vnđ <i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Tổng số công nợ</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#"></a>
                                        <div class="small text-white">@tongno Vnđ <i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Số lượng khách hàng hiện có</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">@ViewBag.Debt</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Thông tin công nợ
                            </div>
                            <div class="card-body">
                                  <table class="table table-bordered" >
                    <thead>
                        <tr>
                           <th>Mã khách hàng</th>
                           <th>Họ tên khách hàng</th>
                           <th>Tổng số tiền nợ</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GuestID)
                                </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.GuestFName) @Html.DisplayFor(modelItem => item.GuestLName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalDebt)
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
                            </div>
                        </div>
                    </div>
